.signin input:focus{
  outline: none;
}
.img{
  width: 36rem;
}
.w_29{
  width: 29%;
}
.second_box{
  margin-top: 4rem;
  width: 65%;
}
.w_50{
  width: 100%;
}
.field{
  height: 2.5rem;
  font-size: 22px;
}
.contact_textarea{
  font-size: 22px;
}
.h-63{
  height: 63%;
}
.profile img{
  width: 13rem;
}
.edit{
  position: absolute;
  top:10%;
  right:0%;
}
.edit input{
  border: 0;
}
.about_details{
  position: absolute;
  top:51%;
}
.work_top{
  position: absolute;
  top:66%
}
.Error_header{
  font-size: 13rem;
  color: rgb(224, 224, 224);
}
.Error_description{
  font-size: 1.4rem;
}
.left_side{
  background-color: rgb(163, 226, 255);
  height: 100vh;
}
.desc{
  font-weight: bold;
  font-size: 4rem;
}